body{
margin:0;
background-color: #d9d2d3;
}
.nav{
    padding:15px;
    background-color:#022D36;
    text-align: center;
    font-size: 16px;
}
a{
    color:#fff;
    padding:10px;
    padding-right:20px;
    font-size: 18px;
    text-decoration: none;
}
.image_format{
    padding-top: 20px;
    height:300px;
    width: 400px;;
}
footer{
    background-color: #022D36;
    color: #fff;
    padding:20px;
    text-align: center;
}
span{
    margin:10px;
    font-size: 18px;
    background-color: #fff;
    width:400px;
    padding-top:10px;
    padding-bottom: 10px;
    display:block;
    color: #022D36;
}